*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}


/*------------------------footer----------------------*/
.footer{
    padding: 50px 0;
    background: yellow;
}
.footer .container{
    display: flex;
}
/*------------------------footer left----------------------*/
.footer-left{
    width: 35%;
    padding: 0 20px;
}
.slogan{
    display: flex;
}
.slogan .slo-left .not-for-me{
    margin: 0;
    padding: 0;
    height: min-content;
}
.slogan .slo-left .not-for-me h3{
    font-size: 35px;
    letter-spacing: 0.1px;
    line-height: 35px;
    font-weight: 600;
    color: #521E86;
}
.slogan .slo-left .not-for-me h3 span{
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}
.slogan .slo-left .but{
    display: flex;
    margin: 0;
    padding: 0;
    height: min-content;
}
.slogan .slo-left .but h3{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #521E86;
    line-height: 35px;
    padding-right: 13px;
}
.slogan .slo-left .but .for-the-nation h3{
    font-size: 14px;
    line-height: 14px;
}
.slogan .slo-left .but .for-the-nation h3 span{
    font-size: 16px;
    line-height: 16px;
}
.slogan .slo-right p{
    font-size: 10px;
    font-weight: 600;
    white-space: nowrap;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}


.footer-left .contact h3{
    font-size: 19px;
    font-weight: 700;
    /* color: #521E86; */
    color: #000;
}
.footer-left .contact .location{
    display: flex;
}
.footer-left .contact .location .fa{
    margin: 0 2px;
    margin-top: 5px;
    font-size: 19px;
}
.footer-left .contact a{
    font-size: 14px;
    /* color: #521E86; */
    color: #000;
    text-decoration: none;
}
.footer-left .contact .fa{
    font-size: 15px;
    padding: 0 10px;
}
.footer-left .contact .mail-phone{
    display: flex;
    justify-content: space-between;
}
.mail-phone .phone{
    text-align: right;
    margin-right: 20px;
}
/*------------------------footer center---------------------*/
.footer-center{
    width: 20%;
    padding: 0 20px;
    text-align: center;
}
.footer-center h4{
    font-size: 16px;
    font-weight: 700;
    /* color: #521E86; */
    color: #000;
}
.footer-center ul{
    list-style: none;
}

.footer-center ul li a{
    /* color:#521E86; */
    color: #000;
    padding-right: 30px;
    margin-bottom: 5px;
}
/*------------------------footer right----------------------*/
.footer-right{
    width: 45%;
    padding: 0 20px;
}
.footer-right h3{
    font-size: 16px;
    font-weight: 700;
    /* color: #521E86; */
    color: #000;
    margin-left: 5px;
}
.footer-right .sub_btn{
    color: #fff;
    text-decoration: none;
    background: #521E86;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 18px;
    border-radius: 5px;
    margin-left: 5px;
}
.footer-right .contact-info{
    display: flex;
}
.footer-right .contact-info input{
    padding: 5px 10px;
    border-radius: 7px;
    width: 50%;
    margin: 10px 5px;
}
.footer-right .message{
    width: 100%;
}
.footer-right .message textarea{
    padding: 5px 10px;
    border-radius: 7px;
    margin: 0 5px 0 5px;
    max-width: 532px;
    max-height: 150px;
    width: 100%;
    margin-bottom: 10px;
}



/*---------------media query for menu---------------------*/
@media only screen and (max-width:950px){
    nav .nav-center ul{
        position: absolute;
        display: block;
        top: 50px;
        left: 0;
        width: 100%;
        background: #000;
        display: none;
    }
    nav .nav-center ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav .nav-center ul li a{
        color: red;
    }

    nav .nav-right a{
        position: absolute;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }

    /*---------------Our journey-------------------*/
    .journey .arrow-btn{
        display: none;
    }
    .journey .col-lg-7 .journey-images img{
        margin-top: 12px;
    }
}


/*---------------media query for blogs horizontal scroll---------------------*/
@media only screen and (max-width:1000px){
    .latest-blogs .container .row .para .arrow-btn{
        display: none;
    }
    .latest-blogs .container .row .para p{
        width: 100%;
    }


    .testimonials .container .row .col .arrow-btn{
        display: none;
    }
    .latest-blogs .container .row .col .text-heading{
        width: 100%;
    }



    .blogs-group{
        display: flex;
        overflow-x: auto;
    }
    .blogs-group::-webkit-scrollbar{
        display: none;
    }
    .latest-blogs .blog .blog-text:hover{
        transform: translateY(-65px);
    }

}
